exportPattern("^[[:alpha:]]+")
export(singlemap, singleplotter, doubleplotter, imaks, build.lut, buildsurfs, surfplot, CARsimu, ssr, KLPQ, patternbits, porosity)
 
importFrom(graphics, par, title, axis, boxplot, image, persp, plot, plot.new, points, segments)
importFrom(terra, ext, geom, buffer, expanse, perim, plot)
importFrom(utils, data, write.table, read.table)
importFrom("grDevices", "palette", "topo.colors", "trans3d")
importFrom("stats", "fft", "median", "nlminb", "quantile", "rnorm")
importFrom("landscapemetrics", "calculate_lsm")
importFrom("raster", "raster", "res", "projection", "values", "extend", "shift", "freq", "clump", "zonal")
import("sp")
import("igraph")


